body {
    background: #FFFAF5
  }


.searchMain{
    margin-top: 100px;
    margin-bottom: 100px;
}
.searchText {
    width: 130px;
    height: 40px;
}
.searchText h1 {
    font-size: 35px;
    font-weight: 700;
    color: #241400;
}
.searchInputButton {
    display: flex;
    flex-direction: column;
    width: 84.58%;
    margin-top: 45px;
}
.searchInputButton input {
    height: 70px;
    font-size: 23px;
    padding: 20px;
    font-weight: 400;
    color: #241400;
    outline: none;
    padding-left: 27px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    ;
}
.searchInputButton button {
    margin-top: 45px;
    height: 60px;
    background-color: #241400;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Crimson Text', sans-serif;
    color: #fff;
    border-radius: 5px;
}
.searchInputButton button:hover {
    opacity: 0.8;
}
.searchMain {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.searchTextButon {
    width: 30%;
}
.searchAboutBook {
    width: 50%;
    position: relative;
}
.card {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.insideCard {
    display: flex !important;
}
.insideCard div:first-child {
    margin-top: 65px;
    width: 200px;
    margin-left: 30px;
}
.bookText {
    margin-top: 65px;
    margin-left: 35px;
    margin-right: 50px;
}
.bookText h2 {
    font-weight: 700;
    font-size: 24px;
    color: #241400;
}

.bookText h3 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    color: var(--mainColorText);
}
.bookText p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: var(--mainColorText);
}
.prev {
    position: absolute;
    left: -40px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}
.prev:hover {
    opacity: 0.5;
}
.next {
    position: absolute;
    right: -40px;
    bottom: 45%;
    font-size: 30px;
    cursor: pointer;
}
.next:hover {
    opacity: 0.5;
}
.social-bar {
    margin-top: 300px;
}.searchText {
    width: 130px;
    height: 40px;
}
.searchText h1 {
    font-size: 35px;
    font-weight: 700;
    color: #241400;
}
.searchInputButton {
    display: flex;
    flex-direction: column;
    width: 84.58%;
    margin-top: 45px;
}
.searchInputButton input {
    height: 70px;
    font-size: 23px;
    padding: 20px;
    font-weight: 400;
    color: var(--mainColorText);
    outline: none;
    padding-left: 27px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    ;
}
.searchInputButton button {
    margin-top: 45px;
    height: 60px;
    background: #E16A00;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Crimson Text', sans-serif;
    color: #fff;
    border-radius: 5px;
}
.searchInputButton button:hover {
    opacity: 0.8;
}
.searchMain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.searchTextButon {
    width: 30%;
}
.searchAboutBook {
    width: 50%;
    position: relative;
}
.card {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding-bottom: 24px;
}
.insideCard {
    display: flex !important;
}
.insideCard div:first-child {
    margin-top: 65px;
    width: 200px;
    margin-left: 30px;
}
.bookText {
    margin-top: 65px;
    margin-left: 35px;
    margin-right: 50px;
}
.bookText h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;

    color: #241400;

}

.bookText h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    color: #241400;

    }
.bookText p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #241400;

    }
.prev {
    position: absolute;
    left: -40px;
    top: 47%;
    font-size: 30px;
    cursor: pointer;
}
.prev:hover {
    opacity: 0.5;
}
.next {
    position: absolute;
    right: -40px;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
}
.next:hover {
    opacity: 0.5;
}
/* Modal Css  */
#modalJoin{
    font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color:#000000;
  
  }
  #modalFullName::placeholder && #modalEmail::placeholder{
    font-family: 'Crimson Text', serif;
    font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #797667;
  
  }
  #modalBtn{
    background-color: #E16A00 ;
    font-family: 'Crimson Text', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  color: #FFFFFF;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  }
  